package {{modelPackage}};
import java.io.Serializable;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.time.LocalDate;
import java.time.LocalDateTime;
import com.fasterxml.jackson.annotation.JsonFormat;

{{#importList}}
import {{{import}}};
{{/importList}}

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{className}} implements Serializable{
{{#fieldList}}

  /**
   * {{description}}
   */
  {{#pattern}}
  @JsonFormat(pattern = "{{pattern}}")
  {{/pattern}}
  private {{&type}} {{field}};
{{/fieldList}}

}