package {{modelPackage}};
import java.io.Serializable;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
{{#importList}}
import {{{import}}};
{{/importList}}

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{className}} implements Serializable{
{{#fieldList}}

  /**
   * {{description}}
   */
  private {{&type}} {{field}};
{{/fieldList}}

}